html,

body {
    height: 100%;
    font-family: 'Muli', sans-serif;
    background-color: white;
    padding-right: 0 !important;
}

#colorBox{
    height: 34px;
    width: 10%; 
    border: 1px solid #E3E3E3;
    margin: auto;
    background-color: #f9f9f9;
}

#main-nav {
    padding-right: 0 !important;
}

a{
    color: #3e5068;
}

a:hover{
    color:  #e6e7e9;
}

a:focus{
    color: white;
}

.skin-black .navbar .nav > li > a:focus{
    background-color: transparent;
    color:white;
}

/*Calendario*/

.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    border:0;
    background: #3E5068 url("images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;;
    color: white;
}

.ui-corner-all{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-widget-header{
    border: 0;
}
/*-------------------------*/
.navbar-btn.sidebar-toggle{
    color: white;
}

table > thead > tr:first-child{
    background-color: #2E394D;
    font-weight: normal;
    color: white;
}

table > thead > tr > th > a{
    color: white;    
}

.panelTituloBoton, .panelTituloCrear{
    background-color: #2E394D;
    color: #DDDDDD;
    padding: 5px 0;
}

.panelTituloBoton{
    border-radius: 5px 5px 0 0;
}

.panelTituloCrear{
    border-radius: 5px;
}

.panelTituloBoton div > h2, .panelTituloCrear div > h2{
    color: white;
}

div.panel-body{
    padding: 0;
}

/*#act > div > div > div{
    padding: 15px;
}*/

#tarifasTab{
    padding: 0;
}

.icon-add{
    content: url(../images/iconos/BotonAgregar.png);
    vertical-align: middle;
}
.icon-back{
    content: url(../images/iconos/BotonRegresar.png);
    vertical-align: middle;
}

.icon-update{
    content: url(../images/iconos/BotonActualizar.png);
    vertical-align: middle;
}
.icon-view{
    content: url(../images/iconos/IconoBarraVista.png);
    vertical-align: middle;
}

.icon-recibo{
    content: url(../images/iconos/BotonRecibo.png);
    vertical-align: middle;
}

.icon-imprimir{
    content: url(../images/iconos/BotonImprimir.png);
    vertical-align: middle;
}

.icon-guardar{
    content: url(../images/iconos/botonCrear.png);
    vertical-align: middle;
}

.icon-actualizar{
    content: url(../images/iconos/BotonActulizarVerde.png);
    vertical-align: middle;
}

.icon-email{
    content: url(../images/iconos/BotonEnviarEmail.png);
    vertical-align: middle;
}

.icon-refresh{
    content: url(../images/iconos/IconoBotonRefres.png);
    vertical-align: middle;
}

.icon-cancel{
    content: url(../images/iconos/BotonCancelar.png);
    vertical-align: middle;
}

/*Action column*/
.up, .del, .ta, .vi, .hr{
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    margin: 0 5px 0 0;
    padding: 5px 13px;
}

.del{
    background-color: #E02828;    
    background-image: url(../images/iconos/IconoTablaEliminar.png);    
}

.up{
    background-color: #FCB602;    
    background-image: url(../images/iconos/IconoTablaActualizar.png);    
}

.hr{
    background-image: url(../images/iconos/IconoTablaHora.png);    
}

.ta{
    background-color: #00A65A;    
    background-image: url(../images/iconos/BotonRecibo.png);
}

.vi{
    background-image: url(../images/iconos/IconoTablaVer.png);
}

/*--------------------------------*/

/*Barra superior top*/

body > .header .navbar{
    margin: 0;
    background-color: #333;
    border-bottom: 0;
}

.skin-black .navbar .nav a{
    color: #F1F2F4;
}

.skin-black .navbar .nav > li > a:hover{
    background-color: transparent !important;
}

.skin-black .navbar .sidebar-toggle .icon-bar{
    background-color: #F1F2F4;
}

.logo-lg{
    height: 50px;
    text-align: left;
}

.btn-toggle{
    content:url(../images/iconos/MenuCerrar.png);
    height: 15px;
}

.btn-toggle-abrir{
    content:url(../images/iconos/MenuAbrir.png);
    height: 15px;
}

/*--------------------------*/


/*-----------Panel busqueda---------------*/
.search-boton,.search-botonFactura, .search-botonReporte{
    background-color: #3E5068;
    border-radius: 0 0 5px 5px;
    color: white;
    display: block;
    padding: 3px 16px;
    text-align: right;
    font-size: 16px;
},

/*body > div.wrapper.row-offcanvas.row-offcanvas-left > aside.right-side > section > div.procedimientos-index > div.panel.panel-default > a:hover{
    color: #468CCA;
}
*/
.busqueda{
    width: 20px;
    padding: 3px;
}

.fomularioTitulo, .fomularioTituloFactura, .fomularioTituloReporte{
      padding: 20px 0 0;
}

.botones-search{
    text-align: left;
}

.search-icon{
    content:url(../images/iconos/BotonBuscar.png);
}

/*------tabla--------*/

table > thead > tr > th{
    text-align: center !important;
}

.kv-panel-before, .kv-panel-after{
    padding: 0;
    border-bottom:0;
}

.summary{
    font-size: 12px;
}

.panel-default > .panel-heading{
    padding: 3px 15px;
}

.pagination{
    float: right;
}

.pagination > .active > a{
  background-color: #3e5068;
  border-color: #2e394d;
}

.filtro-opciones{
    display: block;
    width: 100%;
    height: 34px;
    /* padding: 6px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

/*sidebar*/

/*.skin-black .sidebar{
    background-color: #2E394D;
    
}*/

.skin-black .left-side{
    background-color: #2E394D;
}

.sidebar-icon{
    margin: 2px 10px 2px 8px;
    width: 32px;
}
.subsidebar-icon{
    margin: 1px 6px 2px 7px;
    width: 25px;
}

.sidebar{
    padding-top: 50px;
}

.sidebar .sidebar-menu > li > a{
    padding: 4px 0px;
    background-color: #3E5068;
    font-size: 1.3em;
}


.sidebar .sidebar-menu > li > a.active, .skin-black .sidebar > .sidebar-menu > li.active > a{
    background-color: #468CCA;
}


div.wrapper.row-offcanvas.row-offcanvas-left > aside.left-side.sidebar-offcanvas > section > ul > li > a:hover{
    background-color: #2E394D;
}

.sidebar .sidebar-menu .treeview-menu > li > a{
      padding: 5px 0px 5px 0px;
      margin-left: 3px !important;
}

.text-info{
    color: #F1F2F4;
    font-size: 1.05em;
}

.sidebar .sidebar-menu > li > a > .fa{
    font-size: 1.3em;
}

.fa-angle-down:before, .fa-angle-right:before{
    vertical-align: sub;    
}

.skin-black .sidebar > .sidebar-menu > li > .treeview-menu{
    background-color: #3E5068;
}

/*------------------------------*/

/*-----Panel de pacientes en procedimientos--------*/


/*--------------------------------*/
h1{
    font-weight: 700;
    font-size: 30px;
}

h2{
    font-weight: 700;
    font-size: 25px;
}

h3{
    font-weight: 400;
    font-size: 20px;
}

h4{
    font-weight: 400;
    font-size: 18px;
}

h5{
    font-weight: 400;
    font-size: 16px;
}


h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    color: #2E394D;
}

.btn{
    font-family: 'Montserrat', sans-serif;
}

.btn.btn-success{
    color: #fff;
    background-color: #78c262;
    border:none;
    font-size: 1.15em;
    
}
.btn.btn-success:hover{
    background-color: #499F3D;
}

.btn.btn-primary{
    color: #fff;
    background-color: #468CCA;
    border:none;
    font-size: 1.15em;
    
}
.btn.btn-primary:hover{
    background-color: #326897;
}

.btn.btn-azul {
    background-color: #3E5068;
    color: white;
    border-color: #2E394D;
    border-bottom-color: #2E394D;
    font-size: 12.5px;
    margin-bottom: 13px;
    margin-top: -4px;
    padding: 1px 3px;
    font-family: 'Muli', sans-serif;
}

.btn-default{
  font-size: 1.15em;    
}

a.crear{
        float: right;
}

button.close img{
    width: 32px;
}

.edit{
    width: 40px;
    margin-right: 5px;
    position: relative;
    bottom: 4px;
}


/*select 2 borde redondo*/

div.select2-container a.select2-choice{
    border-radius: 0px;
}

/*Paneles*/

.panel {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  /*border: 1px solid transparent;*/
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

/*------------------------------*/


div.container-fluid div.form-group{
    margin-bottom:0;
}


.crear{
    background-color: #78C262;
    float: right;
    padding: 5px 7px;
}

.imprimir{
    background-color: #468cca;
    float: right;
    padding: 5px 7px;
}



.busqueda-boton{
    padding: 6px 8px;
    margin-right: 10px;
}

button.busqueda-boton > i{
    width: 23px;
    vertical-align: middle;
}

.update{
    border: 0px;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em 0.3em;
    white-space: nowrap;
}

button.update:hover{
    color: #2E394D;
}


.add, .busq{
    width: 29px;
    margin-right: 5px;
}


/*.busq{
    width: 15%;
    margin-right: 10px;;
}*/
/*-----------------*/


/*------Tamaños de modal-------*/

.modal-dialog.modal-lg{
    height: 120%;
}

.modal-content{
    height: 75%;
}

.modal-body{
    height: 90%;
    overflow: auto;
}

.modal-open .modal{
      overflow-y: hidden;
}

/*----diseños modal-----*/

.modal-header{
    background-color: #3e5068;
    border-radius: 5px 5px 0 0;
}

.modal-header h3{
    color: white;
}

.titulo-tarifa{
    margin: 0;
    line-height: 1.42857143;
}


#medRemNuevo > div > div > div.modal-header > h3, #plantillaNuevaModal > div > div > div.modal-header > h3, #plantillaModal > div > div > div.modal-header > h3{
    text-align: center;
    color: white;
}

/*-----------------------------*/
.detail-view{
    background-color: #f9f9f9;
}


div > table.detail-view > tbody > tr > th{
    width: 30%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container-fluid {
    padding: 70px 15px 20px;
}

.contenido{
     padding: 70px 15px 20px;
     float: right;
}


/*Paneles formularios*/

.panelFormulario-header{
    min-height: 16.42857143px;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #3e5068;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.panelFormulario-contenido{
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom:15px;
}

div > div.panelFormulario-header > h3{
    color: white !important;
}

.nopad{
    /*padding: 1%;*/
    padding-top:70px;
    position: fixed;
    background-color: #2E394D;
    height: 100%;
    width: 250px;
}


.navegacion{
    background-color: #333333;
    border-color: #333333;
}

.titulo{
    margin: 0;
}

.tituloDetalle{
    font-size: 25px;
    padding: 10px 0px;
}

.tituloIndex{
    padding: 6px 0;
}

.tituloMd6{
    padding:0;
}

.footer {
  font-size: 1em;
  background-color: #232B3A;
  color: #FFFFFF;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/*-----Menu del usuario-------*/


.user-header.bg-light-blue{
    display: flex;
}


body > header > nav > div > ul > li > ul > li.user-header.bg-light-blue > div{
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    text-align: left;
    padding: 15% 5% 0;
}

body > header > nav > div > ul > li > ul > li.user-header.bg-light-blue > div > p:nth-child(1){
    color: white;
    font-size: 1.5em;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-footer{
    background-color: #2E394D;
}

.botones-footer{
    float: right;
    margin: 0px 5px;
}

div.botones-footer a{
    border-radius: 4px;
    background-color: #3E5068;
    color: white;
    padding: 5px 7px;
}

div.botones-footer a:hover{
    background-color: #326897;
}

li.user-footer > div > a > i{
    margin-right: 10px;
    vertical-align: sub;
    height: 17px;
}

.logOut{
    content: url(../images/iconos/LogOut.png);
}

.usuarioAv{
    content: url(../images/iconos/Perfil.png);
}

.left-side{
    width: 200px;
}

.right-side{
    margin-left: 200px;
}

body > .header .logo{
    width: 200px;
}

#result-form div.result{
    margin-bottom: 15px;
}

.blockError{
  color: white;
  background-color: #C75959;
  padding: 10px;
}



/*---------------------------*/

@media (max-width: 768px){
    a.crear, a.update{
        float: left;
    }
} 

@media screen and (min-width: 992px){

    .left-side{
        top:0;
    }
}

@media (min-width: 1200px){
    div.citas-medicas-search div.col-sm-5 {
        width: 43.99%;
    }

    
    div.citas-medicas-search div.col-sm-3 {
        width: 29.5%;
    }
}

