html,

body {
    height: 100%;
    font-family: 'Muli', sans-serif;
    background-color: white;
}


/*Action column*/
.up, .del, .ta{
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 5px 0 0;
    padding: 5px 13px;
}

.del{
    background-color: #E02828;    
    background-image: url(../images/iconos-clapp/icons-23.png);    
}

.up{
    background-color: #FCB602;    
    background-image: url(../images/iconos-clapp/icons-22.png);    
}

.ta{
    background-color: #00A65A;    
    background-image: url(../images/iconos-clapp/icons-18.png);
}

#eps tr td.skip-export{
    padding: 0; !important;
}

/*--------------------------------*/

/*navbar*/

body > .header .navbar{
    margin: 0;
    background-color: #333;
    border-bottom: 0;
}

.skin-black .navbar .nav a{
    color: #F1F2F4;
}

.skin-black .navbar .nav > li > a:hover{
    background-color: transparent; !important;
}

.skin-black .navbar .sidebar-toggle .icon-bar{
    background-color: #F1F2F4;
}

/*--------------------------*/

/*sidebar*/

/*.skin-black .sidebar{
    background-color: #2E394D;
    
}*/

.skin-black .left-side{
    background-color: #2E394D;
}

.sidebar-icon{
    background-color: #2E394D;
    margin-right: 10px;
    width: 18%;
}

.sidebar .sidebar-menu > li > a{
    padding: 1px 1px;
    background-color: #3E5068;
    font-size: 1.3em;
}


.sidebar .sidebar-menu > li > a.active, .skin-black .sidebar > .sidebar-menu > li.active > a{
    background-color: #468CCA;
}


div.wrapper.row-offcanvas.row-offcanvas-left > aside.left-side.sidebar-offcanvas > section > ul > li > a:hover{
    background-color: #2E394D;
}

.text-info{
    color: #F1F2F4;
    font-size: 1.05em;
}

.sidebar .sidebar-menu > li > a > .fa{
    font-size: 1.3em;
}

.fa-angle-right:before{
    vertical-align: sub;    
}

.skin-black .sidebar > .sidebar-menu > li > .treeview-menu{
    background-color: #3E5068;
}

/*------------------------------*/
h1{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #2E394D;
}

.btn{
    font-family: 'Montserrat', sans-serif;
}

.btn.btn-success{
  color: #fff;
  background-color: #78c262;
  border-color: #78c262;
  font-size: 1.15em;
}

.btn-default{
  font-size: 1.15em;    
}

a.crear{
        float: right;
}

button.close{
    font-size: 2.1em;
}


/*select 2 borde redondo*/

div.select2-container a.select2-choice{
    border-radius: 0px;
}

/*Paneles*/

.panel {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  /*border: 1px solid transparent;*/
  /*border-radius: 4px;*/
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

/*------------------------------*/

/*Boton crear*/

.crear, .update{
    background-color: white;
    border: 0px;
    border-radius: 0;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    color: #333;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.3em 0.3em;
    white-space: nowrap;
}

button.update:hover{
    color: #2E394D;
}

.crear:before{
    height: 1em;
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 1.09em;
    text-align: center;
    font-size: 1.5em;
    margin: 0px 0.3em 0 0em;
    padding: 0px 1.05em 0 0;
    pointer-events: none;
    background-color: #78c262;
}

.update:before{
    height: 1em;
    background: rgba(0,0,0,.1);
    background-color: rgb(252, 182, 2);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0px 0.4em 0 -1em;
    padding: 0px 1.05em 0 0;
    pointer-events: none;
}

.add:before{
    content: url(../images/iconos/iconos-add.jpg);
}

.upd:before{
    content: url(../images/iconos-clapp/icons-22-copia.png);
}

/*-----------------*/
.detail-view{
    background-color: #f9f9f9;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container-fluid {
    padding: 70px 15px 20px;
}

.contenido{
     padding: 70px 15px 20px;
     float: right;
}

.nopad{
    /*padding: 1%;*/
    padding-top:70px;
    position: fixed;
    background-color: #2E394D;
    height: 100%;
    width: 250px;
}

.navegacion{
    background-color: #333333;
    border-color: #333333;
}

.titulo{
    margin: 0;
}

/*.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}*/

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


@media (max-width: 768px){
    a.crear, a.update{
        float: left;
    }
} 


